S3_BASE_URL=https://your-cdn.example.com/

STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key

OPENAI_API_KEY=sk-proj_your_openai_api_key

NEXT_PUBLIC_SANITY_PROJECT_ID=your_sanity_project_id
NEXT_PUBLIC_SANITY_DATASET=your_sanity_dataset

SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password

STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret
